<ul class="article-list">
{% for article in articles_page.object_list %}
<li>
  <article class="preview">
    <a href="{{ macros.url(article.url) }}">
    <header>
      <time datetime="{{ article.locale_date }}">{{ article.locale_date }}</time>
      <h1>{{ article.title }}</h1>
    </header>
    <section>
      {{ article.summary|striptags }}
    </section>
    </a>
  </article>
</li>
{% endfor %}
</ul>

{% if articles_page.has_other_pages() %}
{% include 'partial/pagination.html' %}
{% endif %}
