<nav id="menu">
  <a href="#" class="close button">Close</a>
  <a href="#menu" class="open button">Menu</a>
  <ul class="menu-list">
  {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  {% if DISPLAY_PAGES_ON_MENU -%}
  {% for pg in pages %}
      <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
  {% endfor %}
  {% endif %}
  {% if DISPLAY_CATEGORIES_ON_MENU -%}
  {% for cat, null in categories %}
      <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
  {% endfor %}
  {% endif %}
  </ul>
</nav>
