{% extends "partial/base.html" %}
{% block lang %}{{ article.lang }}{% endblock %}
{% block canonical_url_suffix %}{{ article.url }}{% endblock %}

{% block title %}{{ article.title|striptags }}{% endblock %}
{% block subtitle %}
<a href="{{ SITEURL }}/">{{ SITENAME }}</a> |
{% if article.category %}<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category|title }}</a> | {% endif %}
{% if article.authors %}
{% for author in article.authors %}
  <a href="{{ SITEURL }}/{{ author.url }}">{{ author.name }}</a>
  {% if loop.revindex != 1 %}, {% endif %}
{% endfor %}
| {% endif %}
{{ article.locale_date }}
{% endblock subtitle %}

{% block content %}
<article class="full">{{ article.content }}</article>
{% if article.tags %}
<nav class="article-tags">
  {% for tag in article.tags %}
  <a href="{{ macros.url(tag.url) }}">{{ tag|escape }}</a>
  {% endfor %}
</nav>
{% endif %}
{% endblock content %}
