:root {  /* TODO: configure CSS variables from theme settings */
  --text-color: black;
  --text-color-inverted: white;
  --page-color: white;
  --accent-color: rgb(242,106,61);
  --heading-font-family: 'Fira Sans', serif;
  --text-font-family: 'PT Sans', sans-serif;
  --micro-padding: 2px;
  --content-width: 40rem;
  --interface-width: 48rem;
}
body {
  margin: 0;
  font-family: var(--text-font-family);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
}
body > * {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--micro-padding);
  padding-right: var(--micro-padding);
}
.page-header {
  max-width: 100%;
  max-height: 40vh;
  background-color: var(--accent-color);
  padding: 30vh var(--micro-padding) 2rem var(--micro-padding);
  position: relative;
  color: var(--text-color-inverted);
  z-index: 0;
  font-size: 150%;
}
.page-header:after {
  content: '';
  background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.5) 100%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10
}
.page-header > * {
  display: block;
  max-width: var(--interface-width);
  margin: 0 auto 0 auto;
  position: relative;
  bottom: 0;
  z-index: 100;
}
.article-list,
.article-list > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
article.preview a {
  color: var(--text-color);
  text-decoration: none;
}
.page-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  filter: opacity(50%);
  font-size: 80%;
  max-width: var(--interface-width);
}
.credits {
  display: flex;
  justify-content: space-between;
}
